.skills {
  padding: 10vh 5vw;
  min-height: 100vh;
  position: relative;
  z-index: 4;
}

.skills-title {
  font-weight: 900;
  line-height: 0.9em;
  margin-bottom: 4vh;
  position: relative;
  z-index: 2;

  font-size: clamp(2em, 6vw, 60px);
}
.skills-subtitle {
  margin: 2vh 0;
  font-size: clamp(1em, 2vw, 60px);
}

.skills-patches {
  display: flex;
  row-gap: 2vh;
  column-gap: 2vw;
  flex-wrap: wrap;
  flex-grow: 1;
}

.skills-tech {
  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 2vw;
  padding: 2vh 2vw;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.37);
  min-width: 150px;
  max-width: 250px;
  height: max-content;
}

.skills-tech-name {
  font-size: clamp(1em, 1vw, 100px);
}

@media screen and (max-width: 646px) {
  .skills-tech {
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    max-width: none;
    flex-grow: 1;
  }
  .skills-tech-name {
    margin-top: 2vh;
  }
  .tech {
    gap: 0;
  }
}
